#data-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.movie-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 300px;
  justify-self: center;
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

#search-form {
  display: flex;
  justify-content: center;
}

body h1 {
  text-align: center;
}

#search-input {
  margin: 0px 10px;
  border-color: none;
  border-radius: 8px;
  height: 2em;
  width: 300px;
}
label {
  font-size: 22px;
  font-weight: 600;
}
